@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
//petit text autre que titre
// font-family: 'Amatic SC', cursive;
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
// titre
//font-family: 'Lobster Two', cursive;

h3 {
  font-family: 'Lobster Two', cursive;
}

h1 {
  font-family: 'Lobster Two', cursive;
}
p {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 18px;
  color: black;
}